@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900);

html {
  height: 100%;
}

body {
  font-family: 'raleway';
  color: rgba(69, 58, 136, 0.72);
  /* background-color: slateblue; */
  font-size: 13px;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

.navbar-inverse,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
    background-color: rgba(69, 58, 136, 0.72);
    border:none !important;
    color: rgba(69, 58, 136, 0.72);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none !important;
}

.navbar-inverse a {
    color: rgba(255, 255, 255, 0.72) !important;
}

.navbar-inverse a:hover {
    color: rgba(255, 255, 255, 0.42) !important;
}

.jumbotron {
  background-color: transparent;
  border: 1px solid rgba(69, 58, 136, 0.38);
  margin: 14vh 0;
}

.thumbnail {
  border: 1px solid rgba(69, 58, 136, 0.38);
}

.thumbnail .wrapper {
  height: 30vh;
  overflow: hidden;
}

.thumbnail h4 {
  font-weight: bold;
  padding: 2em 0;
  text-align: center;
}

.thumbnail h4:before {
  content: "";
  width: 1.5em;
  height: .15em;
  position: absolute;
  bottom: .5em;
  left: 0px;
  right: 0px;
  margin: auto;
  background: aqua;
}

.thumbnail p {
  padding: 2em;
  line-height: 2;
}

.btn-main {
  background-color: rgba(69, 58, 136, 0.22);
  border: 1px solid aqua;
  color: rgba(69, 58, 136, 0.72);
  text-transform: uppercase;
}

.btn-main:hover {
  background-color: rgba(69, 58, 136, 0.72);
}


.intro {
  padding-top: 10vh;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.intro i.fa {
  font-size: 8em;
  margin-bottom:.3em;
}

.intro hr {
  border-top: 1px solid aqua;
  border-bottom: 1px solid rgba(0, 255, 255, 0.3);
  width: 50%;
  margin-top: 4em;
  margin-bottom: 4em;
}

.intro .btn-main {
  color: rgba(255, 255, 255, 0.6);
  margin: auto 1em;
  padding: 2em;
  font-weight: bold;
}

.img-bg-01 {
  background: url(http://pre13.deviantart.net/9414/th/pre/i/2013/250/9/9/r_lyeh_by_empslol-d6lctdi.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
