img {
  float: left;
  width: 30%;
  margin: 1.66%;
}

p {
  color: #333;
  margin-left: 1.66%;
  font-family: raleway;
  font-weight: 800;
  font-size: 23px;
  text-transform: uppercase;
}

hr {
  width: 96.5%;
  border-bottom: 5px solid yellow;
  border-top: none;
  border-left: none;
  border-right: none;
}

p span {
  font-weight: 400;
}

[class*="arrow-"] {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: -.15em;
  box-sizing: border-box;
  margin: 0 .5%;
}

.arrow-up {
  border-left: .5em solid transparent;
  border-bottom: .5em solid gray;
  border-right: .5em solid transparent;
}

.arrow-left {
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: .5em solid gray;
}

.arrow-down {
  border-top: .5em solid gray;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
}

.arrow-right {
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid gray;
}
